<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pan.simplepicture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】根据需要添加 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.pan.simplepicture.PanApplication"
        android:allowBackup="true"
        android:icon="@drawable/v"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pan.simplepicture.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.ResourcesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.CollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.ProvideMaterialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.pan.simplepicture.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- ___________________________________ youmeng______分享___________________________________________ -->
        <activity
            android:name="com.pan.simplepicture.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54c7357ffd98c51b8a0008b1" >
        </meta-data>

        <!-- ___________________________________ youmeng______分享___________________________________________ -->


        <!-- ___________________________________ youmeng______自动更新___________________________________________ -->
      

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- ___________________________________ youmeng______自动更新___________________________________________ -->


        <!-- ___________________________________ youmeng______用户反馈___________________________________________ -->
        <activity android:name="com.umeng.fb.ConversationActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54c7357ffd98c51b8a0008b1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- ___________________________________ youmeng______用户反馈___________________________________________ -->
        <!-- ___________________________________ youmi____广告___________________________________________ -->

        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="2" >
        </meta-data>
        <!-- ___________________________________ youmi____广告___________________________________________ -->
    </application>

</manifest>